// SONDA TEMPORANEA: if/else con chiamata a componente nel ramo else.
package renderprobe

templ B1(items []string) {
	<p>{ items[0] }</p>
}

templ B2(items []string) {
	if len(items) == 0 {
		<p>vuoto</p>
	} else {
		@B1(items)
	}
}
